:root {
  --charleston-green: #2A2829;
  --dark-sky-blue: #97B4DE;
  --blue-primary: #263A99;
  --alabaster: #F0EBE5;
  --pastel-gray: #DCD0BE;

  --text-light: #ffffff;
  --text-dark: #2A2829;
}

*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
html, body, #root { height: 100%; background: #0f0f0d; color: #fff; font-family: 'Poppins', sans-serif; }